body {
  margin: 0;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.work,
.team-title,
.clients__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}
