:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575; /*цвет параграфов*/
  --title-text-color: #212121; /*цвет заголовков*/
  --accent-color: #2196f3; /*цвет акцентов*/
  --primary-light-color: #ffffff; /*цвет преимущественного*/
  --adress-text-color: rgba(255, 255, 255, 0.6); /*цвет текста в футере*/
  --logo-part1-color: #000000;
  --bgc-team-color: #f5f4fa;
  --icon-color: #afb1b8;
  --duration: 250ms;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}
