.footer {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts__street {
  color: var(--primary-light-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 9px;
}

.contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mail {
  margin-bottom: 9px;
}

// Footer Icon

.footer-central {
  @include desk {
    display: flex;
    align-items: baseline;
  }
}

.footer-tab {
  margin-bottom: 60px;

  @include tab {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  @include desk {
    align-items: baseline;
    margin-bottom: 0;
  }
}

.contacts {
  text-align: center;
  margin-bottom: 60px;

  @include tab {
    margin-bottom: 0;
  }

  @include desk {
    min-width: 231px;
    margin-right: 70px;
    text-align: start;
  }
}

.footer-icon {
  text-align: center;
  width: 100%;

  @include tab {
    width: 206px;
    margin: 0;
  }

  @include desk {
    display: flex;
    flex-wrap: wrap;
    width: 206px;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }
}

.footer-icon__title {
  color: var(--primary-light-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.footer-icon__list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;

  @include desk {
    display: flex;
    padding: 0;
    margin: 0;
  }
}

.footer-icon__item + .footer-icon__item {
  margin-left: 10px;
}

.footer-icon__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-light-color);
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.online {
  text-align: center;
  @include desk {
    display: flex;
    flex-wrap: wrap;
    width: 570px;
    margin-left: 93px;
    padding: 0;
  }
}

.online-form {
  @include desk {
    display: flex;
  }
}

.online__title {
  color: var(--primary-light-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;

  @include desk {
    margin-top: 0;
  }
}

.online-input {
  width: 100%;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  @include tab {
    width: 450px;
  }

  @include desk {
    width: 358px;
    margin-bottom: 0;
  }
}

.online-icon {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}
